<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="2beca50666d44940a1d1061b29050d59" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_2beca50666d44940a1d1061b29050d59 = echarts.init(
            document.getElementById('2beca50666d44940a1d1061b29050d59'), 'white', {renderer: 'canvas'});
        var option_2beca50666d44940a1d1061b29050d59 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "candlestick",
            "name": "\u4e0a\u8bc1\u7efc\u6307\u65e5K",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "data": [
                [
                    3066.34,
                    3085.2,
                    3066.34,
                    3098.1
                ],
                [
                    3089.02,
                    3083.79,
                    3074.52,
                    3093.82
                ],
                [
                    3070.91,
                    3083.41,
                    3065.31,
                    3107.2
                ],
                [
                    3085.49,
                    3104.8,
                    3084.33,
                    3105.45
                ],
                [
                    3094.24,
                    3066.89,
                    3059.13,
                    3094.24
                ],
                [
                    3082.64,
                    3094.88,
                    3080.13,
                    3097.33
                ],
                [
                    3102.29,
                    3092.29,
                    3081.4,
                    3105.22
                ],
                [
                    3091.49,
                    3115.57,
                    3075.38,
                    3115.57
                ],
                [
                    3120.67,
                    3106.82,
                    3105.6,
                    3127.17
                ],
                [
                    3103.17,
                    3090.04,
                    3082.04,
                    3107.94
                ],
                [
                    3095.73,
                    3074.08,
                    3070.88,
                    3096.37
                ],
                [
                    3081.46,
                    3075.5,
                    3067.25,
                    3091.95
                ],
                [
                    3082.11,
                    3095.79,
                    3070.48,
                    3096.31
                ],
                [
                    3085.79,
                    3052.14,
                    3051.23,
                    3085.79
                ],
                [
                    3038.49,
                    3060.75,
                    3006.27,
                    3069.25
                ],
                [
                    3037.95,
                    2976.53,
                    2955.35,
                    3045.04
                ],
                [
                    2716.7,
                    2746.61,
                    2716.7,
                    2766.58
                ],
                [
                    2685.27,
                    2783.29,
                    2685.27,
                    2786.16
                ],
                [
                    2792.37,
                    2818.09,
                    2778.86,
                    2842.74
                ],
                [
                    2826.89,
                    2866.51,
                    2807.61,
                    2876.59
                ],
                [
                    2858.93,
                    2875.96,
                    2838.77,
                    2875.96
                ],
                [
                    2860.5,
                    2890.49,
                    2851.05,
                    2891.85
                ],
                [
                    2894.54,
                    2901.67,
                    2882.24,
                    2913.82
                ],
                [
                    2895.56,
                    2926.9,
                    2892.42,
                    2926.9
                ],
                [
                    2927.14,
                    2906.07,
                    2901.24,
                    2935.41
                ],
                [
                    2899.87,
                    2917.01,
                    2899.57,
                    2926.94
                ],
                [
                    2924.99,
                    2983.62,
                    2924.99,
                    2983.64
                ],
                [
                    2981.41,
                    2984.97,
                    2960.78,
                    2990.6
                ],
                [
                    2979.52,
                    2975.4,
                    2971.82,
                    2998.27
                ],
                [
                    2981.88,
                    3030.15,
                    2968.45,
                    3031.37
                ],
                [
                    3022.25,
                    3039.67,
                    3020.14,
                    3058.9
                ],
                [
                    3027.89,
                    3031.23,
                    3007.36,
                    3042.18
                ],
                [
                    2982.07,
                    3013.05,
                    2943.72,
                    3016.95
                ],
                [
                    2978.42,
                    2987.93,
                    2974.94,
                    3028.78
                ],
                [
                    2992.49,
                    2991.33,
                    2980.48,
                    3009.46
                ],
                [
                    2924.64,
                    2880.3,
                    2878.54,
                    2948.13
                ],
                [
                    2899.31,
                    2970.93,
                    2899.31,
                    2982.51
                ],
                [
                    3006.89,
                    2992.9,
                    2976.62,
                    3026.84
                ],
                [
                    2981.81,
                    3011.67,
                    2974.36,
                    3012.0
                ],
                [
                    3036.15,
                    3071.68,
                    3022.93,
                    3074.26
                ],
                [
                    3039.94,
                    3034.51,
                    3029.46,
                    3052.44
                ],
                [
                    2987.18,
                    2943.29,
                    2940.71,
                    2989.21
                ],
                [
                    2918.94,
                    2996.76,
                    2904.8,
                    3000.3
                ],
                [
                    2987.18,
                    2943.29,
                    2940.71,
                    2989.21
                ],
                [
                    3001.76,
                    2968.52,
                    2968.52,
                    3010.03
                ],
                [
                    2936.02,
                    2923.49,
                    2906.28,
                    2944.47
                ]
            ],
            "itemStyle": {
                "color": "#ec0000",
                "color0": "#00da3c"
            }
        },
        {
            "type": "line",
            "name": "MA2",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-01-02",
                    "-"
                ],
                [
                    "2020-01-03",
                    "-"
                ],
                [
                    "2020-01-06",
                    3083.6
                ],
                [
                    "2020-01-07",
                    3094.105
                ],
                [
                    "2020-01-08",
                    3085.845
                ],
                [
                    "2020-01-09",
                    3080.885
                ],
                [
                    "2020-01-10",
                    3093.585
                ],
                [
                    "2020-01-13",
                    3103.93
                ],
                [
                    "2020-01-14",
                    3111.195
                ],
                [
                    "2020-01-15",
                    3098.43
                ],
                [
                    "2020-01-16",
                    3082.06
                ],
                [
                    "2020-01-17",
                    3074.79
                ],
                [
                    "2020-01-20",
                    3085.645
                ],
                [
                    "2020-01-21",
                    3073.965
                ],
                [
                    "2020-01-22",
                    3056.445
                ],
                [
                    "2020-01-23",
                    3018.64
                ],
                [
                    "2020-02-03",
                    2861.57
                ],
                [
                    "2020-02-04",
                    2764.95
                ],
                [
                    "2020-02-05",
                    2800.69
                ],
                [
                    "2020-02-06",
                    2842.3
                ],
                [
                    "2020-02-07",
                    2871.235
                ],
                [
                    "2020-02-10",
                    2883.225
                ],
                [
                    "2020-02-11",
                    2896.08
                ],
                [
                    "2020-02-12",
                    2914.285
                ],
                [
                    "2020-02-13",
                    2916.485
                ],
                [
                    "2020-02-14",
                    2911.54
                ],
                [
                    "2020-02-17",
                    2950.315
                ],
                [
                    "2020-02-18",
                    2984.295
                ],
                [
                    "2020-02-19",
                    2980.185
                ],
                [
                    "2020-02-20",
                    3002.775
                ],
                [
                    "2020-02-21",
                    3034.91
                ],
                [
                    "2020-02-24",
                    3035.45
                ],
                [
                    "2020-02-25",
                    3022.14
                ],
                [
                    "2020-02-26",
                    3000.49
                ],
                [
                    "2020-02-27",
                    2989.63
                ],
                [
                    "2020-02-28",
                    2935.815
                ],
                [
                    "2020-03-02",
                    2925.615
                ],
                [
                    "2020-03-03",
                    2981.915
                ],
                [
                    "2020-03-04",
                    3002.285
                ],
                [
                    "2020-03-05",
                    3041.675
                ],
                [
                    "2020-03-06",
                    3053.095
                ],
                [
                    "2020-03-09",
                    2988.9
                ],
                [
                    "2020-03-10",
                    2970.025
                ],
                [
                    "2020-03-09",
                    2970.025
                ],
                [
                    "2020-03-11",
                    2955.905
                ],
                [
                    "2020-03-12",
                    2946.005
                ]
            ],
            "hoverAnimation": false,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 3,
                "opacity": 0.5,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "MA4",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-01-02",
                    "-"
                ],
                [
                    "2020-01-03",
                    "-"
                ],
                [
                    "2020-01-06",
                    "-"
                ],
                [
                    "2020-01-07",
                    "-"
                ],
                [
                    "2020-01-08",
                    3084.722
                ],
                [
                    "2020-01-09",
                    3087.495
                ],
                [
                    "2020-01-10",
                    3089.715
                ],
                [
                    "2020-01-13",
                    3092.408
                ],
                [
                    "2020-01-14",
                    3102.39
                ],
                [
                    "2020-01-15",
                    3101.18
                ],
                [
                    "2020-01-16",
                    3096.628
                ],
                [
                    "2020-01-17",
                    3086.61
                ],
                [
                    "2020-01-20",
                    3083.852
                ],
                [
                    "2020-01-21",
                    3074.378
                ],
                [
                    "2020-01-22",
                    3071.045
                ],
                [
                    "2020-01-23",
                    3046.302
                ],
                [
                    "2020-02-03",
                    2959.007
                ],
                [
                    "2020-02-04",
                    2891.795
                ],
                [
                    "2020-02-05",
                    2831.13
                ],
                [
                    "2020-02-06",
                    2803.625
                ],
                [
                    "2020-02-07",
                    2835.963
                ],
                [
                    "2020-02-10",
                    2862.762
                ],
                [
                    "2020-02-11",
                    2883.657
                ],
                [
                    "2020-02-12",
                    2898.755
                ],
                [
                    "2020-02-13",
                    2906.282
                ],
                [
                    "2020-02-14",
                    2912.912
                ],
                [
                    "2020-02-17",
                    2933.4
                ],
                [
                    "2020-02-18",
                    2947.918
                ],
                [
                    "2020-02-19",
                    2965.25
                ],
                [
                    "2020-02-20",
                    2993.535
                ],
                [
                    "2020-02-21",
                    3007.547
                ],
                [
                    "2020-02-24",
                    3019.112
                ],
                [
                    "2020-02-25",
                    3028.525
                ],
                [
                    "2020-02-26",
                    3017.97
                ],
                [
                    "2020-02-27",
                    3005.885
                ],
                [
                    "2020-02-28",
                    2968.153
                ],
                [
                    "2020-03-02",
                    2957.622
                ],
                [
                    "2020-03-03",
                    2958.865
                ],
                [
                    "2020-03-04",
                    2963.95
                ],
                [
                    "2020-03-05",
                    3011.795
                ],
                [
                    "2020-03-06",
                    3027.69
                ],
                [
                    "2020-03-09",
                    3015.287
                ],
                [
                    "2020-03-10",
                    3011.56
                ],
                [
                    "2020-03-09",
                    2979.463
                ],
                [
                    "2020-03-11",
                    2962.965
                ],
                [
                    "2020-03-12",
                    2958.015
                ]
            ],
            "hoverAnimation": false,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 3,
                "opacity": 0.5,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "MA6",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-01-02",
                    "-"
                ],
                [
                    "2020-01-03",
                    "-"
                ],
                [
                    "2020-01-06",
                    "-"
                ],
                [
                    "2020-01-07",
                    "-"
                ],
                [
                    "2020-01-08",
                    "-"
                ],
                [
                    "2020-01-09",
                    "-"
                ],
                [
                    "2020-01-10",
                    3087.677
                ],
                [
                    "2020-01-13",
                    3092.973
                ],
                [
                    "2020-01-14",
                    3096.875
                ],
                [
                    "2020-01-15",
                    3094.415
                ],
                [
                    "2020-01-16",
                    3095.613
                ],
                [
                    "2020-01-17",
                    3092.383
                ],
                [
                    "2020-01-20",
                    3092.967
                ],
                [
                    "2020-01-21",
                    3082.395
                ],
                [
                    "2020-01-22",
                    3074.717
                ],
                [
                    "2020-01-23",
                    3055.798
                ],
                [
                    "2020-02-03",
                    3001.22
                ],
                [
                    "2020-02-04",
                    2952.518
                ],
                [
                    "2020-02-05",
                    2906.235
                ],
                [
                    "2020-02-06",
                    2875.297
                ],
                [
                    "2020-02-07",
                    2844.498
                ],
                [
                    "2020-02-10",
                    2830.158
                ],
                [
                    "2020-02-11",
                    2856.002
                ],
                [
                    "2020-02-12",
                    2879.937
                ],
                [
                    "2020-02-13",
                    2894.6
                ],
                [
                    "2020-02-14",
                    2903.017
                ],
                [
                    "2020-02-17",
                    2920.96
                ],
                [
                    "2020-02-18",
                    2936.707
                ],
                [
                    "2020-02-19",
                    2948.995
                ],
                [
                    "2020-02-20",
                    2966.203
                ],
                [
                    "2020-02-21",
                    2988.47
                ],
                [
                    "2020-02-24",
                    3007.507
                ],
                [
                    "2020-02-25",
                    3012.412
                ],
                [
                    "2020-02-26",
                    3012.905
                ],
                [
                    "2020-02-27",
                    3015.56
                ],
                [
                    "2020-02-28",
                    2990.585
                ],
                [
                    "2020-03-02",
                    2979.128
                ],
                [
                    "2020-03-03",
                    2972.74
                ],
                [
                    "2020-03-04",
                    2972.51
                ],
                [
                    "2020-03-05",
                    2986.468
                ],
                [
                    "2020-03-06",
                    2993.665
                ],
                [
                    "2020-03-09",
                    3004.163
                ],
                [
                    "2020-03-10",
                    3008.468
                ],
                [
                    "2020-03-09",
                    3000.2
                ],
                [
                    "2020-03-11",
                    2993.008
                ],
                [
                    "2020-03-12",
                    2968.31
                ]
            ],
            "hoverAnimation": false,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 3,
                "opacity": 0.5,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "MA8",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2020-01-02",
                    "-"
                ],
                [
                    "2020-01-03",
                    "-"
                ],
                [
                    "2020-01-06",
                    "-"
                ],
                [
                    "2020-01-07",
                    "-"
                ],
                [
                    "2020-01-08",
                    "-"
                ],
                [
                    "2020-01-09",
                    "-"
                ],
                [
                    "2020-01-10",
                    "-"
                ],
                [
                    "2020-01-13",
                    "-"
                ],
                [
                    "2020-01-14",
                    3093.556
                ],
                [
                    "2020-01-15",
                    3094.338
                ],
                [
                    "2020-01-16",
                    3093.171
                ],
                [
                    "2020-01-17",
                    3089.509
                ],
                [
                    "2020-01-20",
                    3093.121
                ],
                [
                    "2020-01-21",
                    3087.779
                ],
                [
                    "2020-01-22",
                    3083.836
                ],
                [
                    "2020-01-23",
                    3066.456
                ],
                [
                    "2020-02-03",
                    3021.43
                ],
                [
                    "2020-02-04",
                    2983.086
                ],
                [
                    "2020-02-05",
                    2951.088
                ],
                [
                    "2020-02-06",
                    2924.964
                ],
                [
                    "2020-02-07",
                    2897.485
                ],
                [
                    "2020-02-10",
                    2877.279
                ],
                [
                    "2020-02-11",
                    2857.394
                ],
                [
                    "2020-02-12",
                    2851.19
                ],
                [
                    "2020-02-13",
                    2871.122
                ],
                [
                    "2020-02-14",
                    2887.838
                ],
                [
                    "2020-02-17",
                    2908.529
                ],
                [
                    "2020-02-18",
                    2923.336
                ],
                [
                    "2020-02-19",
                    2935.766
                ],
                [
                    "2020-02-20",
                    2953.224
                ],
                [
                    "2020-02-21",
                    2970.474
                ],
                [
                    "2020-02-24",
                    2983.515
                ],
                [
                    "2020-02-25",
                    2996.887
                ],
                [
                    "2020-02-26",
                    3005.753
                ],
                [
                    "2020-02-27",
                    3006.716
                ],
                [
                    "2020-02-28",
                    2993.633
                ],
                [
                    "2020-03-02",
                    2993.074
                ],
                [
                    "2020-03-03",
                    2988.418
                ],
                [
                    "2020-03-04",
                    2984.917
                ],
                [
                    "2020-03-05",
                    2989.974
                ],
                [
                    "2020-03-06",
                    2992.656
                ],
                [
                    "2020-03-09",
                    2987.076
                ],
                [
                    "2020-03-10",
                    2987.755
                ],
                [
                    "2020-03-09",
                    2995.629
                ],
                [
                    "2020-03-11",
                    2995.328
                ],
                [
                    "2020-03-12",
                    2986.651
                ]
            ],
            "hoverAnimation": false,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 3,
                "opacity": 0.5,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "bar",
            "name": "\u6210\u4ea4\u91cf",
            "xAxisIndex": 1,
            "yAxisIndex": 1,
            "data": [
                [
                    0,
                    2924702.08,
                    1
                ],
                [
                    1,
                    2614966.68,
                    -1
                ],
                [
                    2,
                    3125758.41,
                    1
                ],
                [
                    3,
                    2765831.12,
                    1
                ],
                [
                    4,
                    2978725.53,
                    -1
                ],
                [
                    5,
                    2434356.48,
                    1
                ],
                [
                    6,
                    2104424.63,
                    -1
                ],
                [
                    7,
                    2106210.05,
                    1
                ],
                [
                    8,
                    2299737.7,
                    -1
                ],
                [
                    9,
                    2023130.24,
                    -1
                ],
                [
                    10,
                    2033754.75,
                    -1
                ],
                [
                    11,
                    1903043.0,
                    -1
                ],
                [
                    12,
                    2104933.4,
                    1
                ],
                [
                    13,
                    2348307.38,
                    -1
                ],
                [
                    14,
                    2238528.64,
                    1
                ],
                [
                    15,
                    2727632.33,
                    -1
                ],
                [
                    16,
                    2159121.02,
                    1
                ],
                [
                    17,
                    3640462.0,
                    1
                ],
                [
                    18,
                    3097618.23,
                    1
                ],
                [
                    19,
                    3163921.43,
                    1
                ],
                [
                    20,
                    3094796.42,
                    1
                ],
                [
                    21,
                    2949297.84,
                    1
                ],
                [
                    22,
                    2691683.35,
                    1
                ],
                [
                    23,
                    2487334.3,
                    1
                ],
                [
                    24,
                    2748048.44,
                    -1
                ],
                [
                    25,
                    2506506.27,
                    1
                ],
                [
                    26,
                    3131980.08,
                    1
                ],
                [
                    27,
                    3116659.12,
                    1
                ],
                [
                    28,
                    3151411.51,
                    -1
                ],
                [
                    29,
                    3457328.82,
                    1
                ],
                [
                    30,
                    3645572.76,
                    1
                ],
                [
                    31,
                    3704300.44,
                    1
                ],
                [
                    32,
                    4416227.61,
                    1
                ],
                [
                    33,
                    4690495.51,
                    1
                ],
                [
                    34,
                    3505236.58,
                    -1
                ],
                [
                    35,
                    4012169.14,
                    -1
                ],
                [
                    36,
                    3673333.68,
                    1
                ],
                [
                    37,
                    4101080.47,
                    -1
                ],
                [
                    38,
                    3533382.78,
                    1
                ],
                [
                    39,
                    4454258.07,
                    1
                ],
                [
                    40,
                    3620615.32,
                    -1
                ],
                [
                    41,
                    4145607.36,
                    -1
                ],
                [
                    42,
                    3932966.48,
                    1
                ],
                [
                    43,
                    4145607.36,
                    -1
                ],
                [
                    44,
                    3524709.7,
                    -1
                ],
                [
                    45,
                    3077784.57,
                    -1
                ]
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e0a\u8bc1\u7efc\u6307\u65e5K",
                "MA2",
                "MA4",
                "MA6",
                "MA8"
            ],
            "selected": {
                "\u4e0a\u8bc1\u7efc\u6307\u65e5K": true
            },
            "show": true,
            "left": "center",
            "top": "top",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        },
        {
            "data": [
                "\u6210\u4ea4\u91cf"
            ],
            "selected": {
                "\u6210\u4ea4\u91cf": true
            },
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "cross"
        },
        "textStyle": {
            "color": "#000"
        },
        "backgroundColor": "rgba(245, 245, 245, 0.8)",
        "borderColor": "#ccc",
        "borderWidth": 1
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020-01-02",
                "2020-01-03",
                "2020-01-06",
                "2020-01-07",
                "2020-01-08",
                "2020-01-09",
                "2020-01-10",
                "2020-01-13",
                "2020-01-14",
                "2020-01-15",
                "2020-01-16",
                "2020-01-17",
                "2020-01-20",
                "2020-01-21",
                "2020-01-22",
                "2020-01-23",
                "2020-02-03",
                "2020-02-04",
                "2020-02-05",
                "2020-02-06",
                "2020-02-07",
                "2020-02-10",
                "2020-02-11",
                "2020-02-12",
                "2020-02-13",
                "2020-02-14",
                "2020-02-17",
                "2020-02-18",
                "2020-02-19",
                "2020-02-20",
                "2020-02-21",
                "2020-02-24",
                "2020-02-25",
                "2020-02-26",
                "2020-02-27",
                "2020-02-28",
                "2020-03-02",
                "2020-03-03",
                "2020-03-04",
                "2020-03-05",
                "2020-03-06",
                "2020-03-09",
                "2020-03-10",
                "2020-03-09",
                "2020-03-11",
                "2020-03-12"
            ]
        },
        {
            "type": "category",
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 1,
            "axisLine": {
                "show": true,
                "onZero": false,
                "onZeroAxisIndex": 0
            },
            "axisTick": {
                "show": false,
                "alignWithLabel": false,
                "inside": false
            },
            "axisLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 20,
            "boundaryGap": false,
            "min": "dataMin",
            "max": "dataMax",
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020-01-02",
                "2020-01-03",
                "2020-01-06",
                "2020-01-07",
                "2020-01-08",
                "2020-01-09",
                "2020-01-10",
                "2020-01-13",
                "2020-01-14",
                "2020-01-15",
                "2020-01-16",
                "2020-01-17",
                "2020-01-20",
                "2020-01-21",
                "2020-01-22",
                "2020-01-23",
                "2020-02-03",
                "2020-02-04",
                "2020-02-05",
                "2020-02-06",
                "2020-02-07",
                "2020-02-10",
                "2020-02-11",
                "2020-02-12",
                "2020-02-13",
                "2020-02-14",
                "2020-02-17",
                "2020-02-18",
                "2020-02-19",
                "2020-02-20",
                "2020-02-21",
                "2020-02-24",
                "2020-02-25",
                "2020-02-26",
                "2020-02-27",
                "2020-02-28",
                "2020-03-02",
                "2020-03-03",
                "2020-03-04",
                "2020-03-05",
                "2020-03-06",
                "2020-03-09",
                "2020-03-10",
                "2020-03-09",
                "2020-03-11",
                "2020-03-12"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 1
                }
            }
        },
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 1,
            "axisLine": {
                "show": false,
                "onZero": true,
                "onZeroAxisIndex": 0
            },
            "axisTick": {
                "show": false,
                "alignWithLabel": false,
                "inside": false
            },
            "axisLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 2,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u4e0a\u8bc1\u7efc\u6307\u5927\u76d8\u8d70\u52bf\u56fe",
            "subtext": "\u5747\u7ebfMA-n(n\u4ee52, 4, 6, 8\u4e3a\u4f8b)",
            "padding": 5,
            "itemGap": 10
        },
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": false,
        "type": "piecewise",
        "min": 0,
        "max": 100,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "dimension": 2,
        "seriesIndex": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0,
        "pieces": [
            {
                "value": 1,
                "color": "#ec0000"
            },
            {
                "value": -1,
                "color": "#00da3c"
            }
        ]
    },
    "dataZoom": [
        {
            "show": false,
            "type": "inside",
            "realtime": true,
            "start": 0,
            "end": 100,
            "orient": "horizontal",
            "xAxisIndex": [
                0,
                1
            ],
            "zoomLock": false
        },
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 0,
            "end": 100,
            "orient": "horizontal",
            "xAxisIndex": [
                0,
                1
            ],
            "zoomLock": false,
            "top": "90%"
        }
    ],
    "axisPointer": {
        "show": true,
        "type": "line",
        "link": [
            {
                "xAxisIndex": "all"
            }
        ],
        "label": {
            "show": true,
            "position": "top",
            "margin": 8,
            "backgroundColor": "#777"
        }
    },
    "brush": {
        "toolbox": [
            "rect",
            "polygon",
            "keep",
            "clear"
        ],
        "brushLink": "all",
        "xAxisIndex": "all",
        "brushType": "lineX",
        "brushMode": "single",
        "transformable": true,
        "brushStyle": {
            "borderWidth": 1,
            "color": "rgba(120,140,180,0.3)",
            "borderColor": "rgba(120,140,180,0.8)"
        },
        "throttleType": "fixRate",
        "throttleDelay": 0,
        "removeOnClick": true,
        "outOfBrush": {
            "colorAlpha": 0.1
        }
    },
    "grid": [
        {
            "left": "10%",
            "right": "8%",
            "height": "50%",
            "containLabel": false
        },
        {
            "left": "10%",
            "top": "70%",
            "right": "8%",
            "height": "16%",
            "containLabel": false
        }
    ]
};
        chart_2beca50666d44940a1d1061b29050d59.setOption(option_2beca50666d44940a1d1061b29050d59);
    </script>
</body>
</html>
